/* Place your CSS styles in this file */
  @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;400&family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


.navbar a{
    text-decoration: none;
    color: white;
    padding-left: 30px;
    transition: all 0.3s;
}

.navbar a:hover,.navbar a.active{
    color: #EB9D49
}


header{
    top: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    
}

.author{
    display: flex;
    flex: 1.3;
    align-items: center;
    justify-content: flex-start;
    color: rgba(255, 255, 255, 0.8);
}

.author img{

  width: 70px;
  border: 2px dotted rgb(8, 174, 240);
  border-style: dotted;
  border-radius: 35px;
  margin-right: 10px;
}

.menu{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
}


@media screen and (max-width: 1043px) {
  .navbar a{
    display: none;
  }
  .author{
    flex: 4;
  }
}

@media screen and (min-width: 1043px) {
  .menu-items
  {
    display: none;
  }
}

.home{
  margin: auto;
  width: 95%;
  /*background-image: url('./space.jpg');*/
  margin-top: 28px;
}

.name{
  color: white;
  float: inline-start;
}

.social-icons a{
  margin-right: 10px;
}

.social-icons a:hover{
  transition: all 0.2s;
  color: white;
}
